@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital@0;1&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-famile: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.rating {
  display: flex;
  align-items: flex-end;
  font-size: 36px;
  line-height: 0.75;
}
.rating__body {
  position: relative;
}
.rating__body::before {
  content: "★★★★★";
  display: block;
  color: grey;
}
.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: rgb(226, 204, 9);
}
.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}
.rating__value {
  font-size: 50%;
  line-height: 1;
  padding-left: 10px;
}

body {
  font-family: "Plus Jakarta Sans";
  color: #5e6282;
  font-size: 16px;
}
.lock body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

main {
  flex-grow: 1;
}

[class*=__container] {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-block {
  font-weight: 800;
}
.header-block__label {
  font-size: 18px;
  color: #4475f2;
  letter-spacing: 2px;
  line-height: 127.777778%; /* 23/18 */
}
.header-block__label:not(:last-child) {
  margin-bottom: 10px;
}
.header-block__title {
  color: #000;
  font-size: 48px;
  line-height: 135.416667%; /* 65/48 */
}
.header-block--margin {
  margin-bottom: 90px;
}
@media (max-width: 1230px) {
  .header-block--margin {
    margin-bottom: calc(40px + 50 * (100vw - 320px) / 910);
  }
}

.header {
  padding-top: 77px;
  position: sticky;
  top: 0;
  z-index: 50;
}
@media (max-width: 1230px) {
  .header {
    padding-top: calc(20px + 57 * (100vw - 320px) / 910);
  }
}
.header__container {
  display: flex;
  align-items: center;
  min-height: 28px;
  gap: 125px;
}
@media (max-width: 1230px) {
  .header__container {
    gap: calc(50px + 75 * (100vw - 320px) / 910);
  }
}
@media (max-width: 479.98px) {
  .header__container {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo h2 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.menu__list {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
@media (max-width: 1230px) {
  .menu__list {
    gap: calc(20px + 20 * (100vw - 320px) / 910);
  }
}
.menu__link {
  font-size: 14px;
  color: #9a9ea6;
}
.menu__link.active {
  color: #4737ff;
}

.footer {
  min-height: 119px;
  background-color: #4475f2;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1230px) {
  .footer {
    min-height: calc(40px + 79 * (100vw - 320px) / 910);
  }
}
.footer__copyright {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.hero {
  padding-top: 62px;
  padding-bottom: 40px;
  position: relative;
}
@media (max-width: 1230px) {
  .hero {
    padding-top: calc(25px + 37 * (100vw - 320px) / 910);
  }
}
@media (max-width: 1230px) {
  .hero {
    padding-bottom: calc(25px + 15 * (100vw - 320px) / 910);
  }
}
.hero__container {
  display: flex;
  gap: 20px;
}
.hero__container::before, .hero__container::after {
  content: "";
  position: absolute;
  transform-origin: left bottom;
  height: 150%;
  background-color: #4475f2;
  width: 100vw;
  box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
  border-radius: 30px;
  bottom: 0;
}
.hero__container::after {
  left: calc(50% + 444px);
  transform: skewX(30deg);
}
.hero__container::before {
  left: calc(50% + 30px);
  transform: skewX(-26deg);
}
@media (max-width: 1130px) {
  .hero__container {
    flex-direction: column;
  }
}
.hero__body {
  position: relative;
  z-index: 2;
  flex: 0 1 50%;
  display: grid;
  align-content: start;
  justify-items: start;
  gap: 30px;
}
@media (max-width: 1230px) {
  .hero__body {
    gap: calc(15px + 15 * (100vw - 320px) / 910);
  }
}
@media (max-width: 479.98px) {
  .hero__body {
    justify-items: stretch;
  }
}
.hero__title {
  color: #181e4b;
  font-weight: 800;
  line-height: 117.658228%; /* 89/79 */
  letter-spacing: -4px;
  font-size: 79px;
}
@media (max-width: 1230px) {
  .hero__title {
    font-size: calc(40px + 39 * (100vw - 320px) / 910);
  }
}
.hero__title a {
  color: #4475f2;
  text-shadow: 0px 0px 8px #fff;
  text-decoration: underline;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .hero__title a:hover {
    color: #2248a7;
  }
}
.hero__text {
  max-width: 500px;
}
.hero__text p {
  line-height: 187.5%; /* 30/16 */
}
.hero__text p:not(:last-child) {
  margin-bottom: 10px;
}
.hero__button {
  text-align: center;
  padding: 18px 54px;
  background-color: #4475f2;
  color: #fff;
  font-weight: 700;
  line-height: 156.25%; /* 25/16 */
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .hero__button:hover {
    background-color: #2248a7;
    box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.25);
  }
}
.hero__images {
  flex: 0 1 50%;
}

.images-hero {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
}
@media (max-width: 1230px) {
  .images-hero {
    gap: calc(16px + 16 * (100vw - 320px) / 910);
  }
}
.images-hero__item--01 {
  grid-row: span 2;
  align-self: end;
  padding-bottom: 10px;
}
@media (max-width: 479.98px) {
  .images-hero__item--01 {
    align-self: center;
  }
}
.images-hero__item--03 {
  grid-row: span 2;
  align-self: center;
  justify-self: end;
}
.images-hero__item--04 {
  align-self: end;
  justify-self: end;
}
.images-hero__picture {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.features {
  padding-top: 170px;
  padding-bottom: 170px;
}
@media (max-width: 1230px) {
  .features {
    padding-top: calc(50px + 120 * (100vw - 320px) / 910);
  }
}
@media (max-width: 1230px) {
  .features {
    padding-bottom: calc(50px + 120 * (100vw - 320px) / 910);
  }
}
.features__header {
  margin-bottom: 90px;
}
@media (max-width: 1230px) {
  .features__header {
    margin-bottom: calc(40px + 50 * (100vw - 320px) / 910);
  }
}
.features__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 30px;
}
@media (max-width: 1230px) {
  .features__items {
    gap: calc(20px + 10 * (100vw - 320px) / 910);
  }
}
.item-feature {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.item-feature__image {
  width: 100px;
  height: 100px;
  background-color: #4475f2;
  border-radius: 26px;
  box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-feature__title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}
.item-feature__text p {
  font-weight: 500;
  line-height: 187.5%; /* 30/16 */
}

.services {
  padding-bottom: 200px;
}
@media (max-width: 1230px) {
  .services {
    padding-bottom: calc(50px + 150 * (100vw - 320px) / 910);
  }
}
.services__items {
  display: flex;
  flex-direction: column;
  row-gap: 140px;
}
@media (max-width: 1230px) {
  .services__items {
    row-gap: calc(50px + 90 * (100vw - 320px) / 910);
  }
}
.item-service {
  display: flex;
  flex-direction: column;
  gap: 125px;
}
@media (max-width: 1230px) {
  .item-service {
    gap: calc(40px + 85 * (100vw - 320px) / 910);
  }
}
.item-service__image {
  flex: 0 1 50%;
}
.item-service__image img {
  max-width: 100%;
  box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
  border-radius: 10px;
}
.item-service__body {
  flex: 0 1 50%;
}
.item-service__title {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 500;
  color: #000;
  letter-spacing: 1px;
}
@media (max-width: 1230px) {
  .item-service__title {
    margin-bottom: calc(20px + 20 * (100vw - 320px) / 910);
  }
}
.item-service__title span {
  color: #4475f2;
}
.item-service__text p {
  font-weight: 500;
  line-height: 187.5%; /* 30/16 */
}
.item-service__text p:not(:last-child) {
  margin-bottom: 15px;
}
@media (min-width: 991.98px) {
  .item-service {
    flex-direction: row;
  }
  .item-service:nth-child(2) .item-service__body {
    order: 1;
  }
  .item-service:nth-child(2) .item-service__image {
    order: 2;
  }
}

.reviews {
  padding-bottom: 200px;
}
@media (max-width: 1230px) {
  .reviews {
    padding-bottom: calc(50px + 150 * (100vw - 320px) / 910);
  }
}
.reviews__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 51px;
}
@media (max-width: 1230px) {
  .reviews__cards {
    gap: calc(25px + 26 * (100vw - 320px) / 910);
  }
}
.card-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 40px;
  border: 1px solid #dedede;
  box-shadow: 0 2.7672564983px 2.2138051987px 0 rgba(0, 0, 0, 0.02), 0 6.6501021385px 5.3200817108px 0 rgba(0, 0, 0, 0.03), 0 12.5215520859px 10.017241478px 0 rgba(0, 0, 0, 0.04), 0 22.336309433px 17.8690471649px 0 rgba(0, 0, 0, 0.04), 0 41.7776107788px 33.422088623px 0 rgba(0, 0, 0, 0.05), 0 100px 80px 0 rgba(0, 0, 0, 0.07);
}
.card-review__image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}
.card-review__image img {
  max-width: 100%;
  object-fit: cover;
}
.card-review__about {
  max-width: 250px;
  text-align: center;
  flex-grow: 1;
}
.card-review__about p {
  font-weight: 500;
  line-height: 187.5%; /* 30/16 */
  letter-spacing: 0.200000003px;
}
.card-review__name, .card-review__occupation {
  font-weight: 500;
  line-height: 187.5%; /* 30/16 */
  letter-spacing: 0.200000003px;
  color: #23a6f0;
}
.card-review__occupation {
  color: #181e4b;
}

.location {
  padding-bottom: 240px;
}
@media (max-width: 1230px) {
  .location {
    padding-bottom: calc(50px + 190 * (100vw - 320px) / 910);
  }
}
.location__map {
  width: 100%;
  height: 405px;
  box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
  border-radius: 10px;
}

.social {
  padding-bottom: 94px;
}
@media (max-width: 1230px) {
  .social {
    padding-bottom: calc(40px + 54 * (100vw - 320px) / 910);
  }
}
.social__container {
  max-width: 830px;
}
.social__body {
  display: flex;
  gap: 100px;
}
@media (max-width: 1230px) {
  .social__body {
    gap: calc(30px + 70 * (100vw - 320px) / 910);
  }
}
@media (max-width: 767.98px) {
  .social__body {
    flex-direction: column;
  }
}
.social__column {
  flex: 0 1 33.333%;
  text-align: center;
}
.social__column:first-child .social__title:not(:last-child) {
  margin-bottom: 25px;
}
.social__column:nth-child(2), .social__column:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .social__column:nth-child(2), .social__column:nth-child(3) {
    gap: 25px;
  }
}
.social__title {
  font-size: 24px;
  color: #000;
  font-weight: 700;
}
.social__images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}
@media (max-width: 767.98px) {
  .social__images {
    margin-bottom: 0;
    justify-content: center;
    gap: 20px;
  }
}
.social__slogan {
  margin-bottom: 26px;
}