.hero {
  @include adaptiv-value("padding-top", 62, 25, 1);
  @include adaptiv-value("padding-bottom", 40, 25, 1);
  position: relative;
  &__container {
    display: flex;
    gap: 20px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      transform-origin: left bottom;
      height: 150%;
      background-color: $blueColor;
      width: 100vw;
      box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
      border-radius: 30px;
      bottom: 0;
    }
    &::after {
      left: calc(50% + 444px);
      transform: skewX(30deg);
    }
    &::before {
      left: calc(50% + 30px);
      transform: skewX(-26deg);
    }
    @media (max-width: 1130px) {
      flex-direction: column;
    }
  }

  &__body {
    position: relative;
    z-index: 2;
    flex: 0 1 50%;
    display: grid;
    align-content: start;
    justify-items: start;
    @include adaptiv-value("gap", 30, 15, 1);
    @media (max-width: $mobileSmall) {
      justify-items: stretch;
    }
  }

  &__title {
    color: #181e4b;
    font-weight: 800;
    line-height: 117.658228%; /* 89/79 */
    letter-spacing: -4px;
    @include adaptiv-value("font-size", 79, 40, 1);
    a {
      color: $blueColor;
      text-shadow: 0px 0px 8px #fff;
      text-decoration: underline;
      transition: all 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: #2248a7;
        }
      }
    }
  }

  &__text {
    max-width: 500px;
    p {
      line-height: 187.5%; /* 30/16 */
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__button {
    text-align: center;
    padding: 18px 54px;
    background-color: $blueColor;
    color: #fff;
    font-weight: 700;
    line-height: 156.25%; /* 25/16 */
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #2248a7;
        box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.25);
      }
    }
  }

  &__images {
    flex: 0 1 50%;
  }
}
.images-hero {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  @include adaptiv-value("gap", 32, 16, 1);
  &__item {
    &--01 {
      grid-row: span 2;
      align-self: end;
      padding-bottom: 10px;
      @media (max-width: $mobileSmall) {
        align-self: center;
      }
    }
    &--02 {
    }
    &--03 {
      grid-row: span 2;
      align-self: center;
      justify-self: end;
    }
    &--04 {
      align-self: end;
      justify-self: end;
    }
  }
  &__picture {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}
