.services {
  @include adaptiv-value("padding-bottom", 200, 50, 1);
  &__container {
  }

  &__header {
  }

  &__items {
    display: flex;
    flex-direction: column;
    @include adaptiv-value("row-gap", 140, 50, 1);
  }

  &__item {
  }
}

.item-service {
  display: flex;
  flex-direction: column;
  @include adaptiv-value("gap", 125, 40, 1);
  &__image {
    flex: 0 1 50%;
    img {
      max-width: 100%;
      box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
      border-radius: 10px;
    }
  }

  &__body {
    flex: 0 1 50%;
  }

  &__title {
    @include adaptiv-value("margin-bottom", 40, 20, 1);
    font-size: 32px;
    font-weight: 500;
    color: #000;
    letter-spacing: 1px;
    span {
      color: $blueColor;
    }
  }

  &__text {
    p {
      font-weight: 500;
      line-height: 187.5%; /* 30/16 */
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
  @media (min-width: $tablet) {
    flex-direction: row;
    &:nth-child(2) {
      .item-service__body {
        order: 1;
      }
      .item-service__image {
        order: 2;
      }
    }
  }
}
