@import "nullstyle.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "ibg.scss";
@import "base.scss";

$fontFamily: "Plus Jakarta Sans";
//
$mainColor: #5e6282;
$blueColor: #4475f2;
$lightBlue: #23a6f0;
$headerActive: #4737ff;
$headerInactive: #9a9ea6;
//
$fontSize: 16px;
//
$containerWidth: 1230px;

//md query
// $pc: $containerWidth + $containerPadding;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

body {
  font-family: $fontFamily;
  color: $mainColor;
  font-size: $fontSize;
  .lock & {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
main {
  flex-grow: 1;
}
//slider fix
// > * {
//    min-width: 0;
// }
[class*="__container"] {
  max-width: $containerWidth;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.page {
  &__hero {
  }
  &__features {
  }
  &__services {
  }
  &__reviews {
  }
  &__location {
  }
  &__social {
  }
}
@import "common.scss";
@import "header.scss";
@import "footer.scss";
@import "./blocks/hero.scss";
@import "./blocks/features.scss";
@import "./blocks/services.scss";
@import "./blocks/reviews.scss";
@import "./blocks/location.scss";
@import "./blocks/social.scss";
